<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account Form</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        {% if message %}
        <script> let msg='{{message}}';</script>
        {% endif %}
        {% if valid %}
        <script> let valid='{{valid}}';</script>
        {% endif %}
        <form action="" method="post" class="form" id="register">
            <h1 class="form-title">Register</h1>
            <div class="form-message form-message-error"></div>
            <div class="form-input-group">
                <input type="text" name="username" id="signupUsername"  placeholder="Username" class="form-input">
                <div class="form-input-error-message"></div>
            </div>
            <div class="form-input-group">
                <input type="password" name="password" id="signupPassword"  placeholder="Password" class="form-input">
                <div class="form-input-error-message"></div>
            </div>
            <div class="form-input-group">
                <input type="password" name="confirm-password" id="confirmPassword"  placeholder="Confirm Password" class="form-input">
                <div class="form-input-error-message"></div>
            </div>
            <button class="form-button" type="submit">Register</button>

            <p class="form-text">
                <a  href="login" class="form-link" id="linkLogin">Already have an account? Sign In</a>
            </p>

        </form>
    </div>

    <script src="../static/js/register.js"></script>
</body>
</html>